@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 500 700;
  font-style: normal;
}

/* colors */

$clr-accent: hsl(61, 70%, 52%);
$slate-100: hsl(202, 86%, 94%);
$slate-300: hsl(203, 41%, 72%);
$slate-500: hsl(200, 26%, 54%);
$slate-700: hsl(200, 24%, 40%);
$slate-900: hsl(202, 55%, 16%);
$white: hsl(0, 0%, 100%);
$red: hsl(4, 69%, 50%);

/* spacer */
$spacer-50: 0.25rem;
$spacer-100: 0.5rem;
$spacer-150: 0.75rem;
$spacer-200: 1rem;
$spacer-300: 1.5rem;
$spacer-400: 2rem;
$spacer-500: 2.5rem;
$spacer-600: 3rem;
$spacer-700: 3.5rem;
$spacer-800: 4rem;
$spacer-900: 4.5rem;
$spacer-1000: 5rem;

$br-sm: 0.25rem;
$br: 0.5rem;
$br-lg: 1.5rem;

/* typography */

$fw-bold: 700;
$fw-regular: 500;

.text-preset-1 {
  font-size: 2.5rem;
  font-weight: $fw-bold;
  line-height: 125%;
  letter-spacing: -1px;
}

.text-preset-2 {
  font-size: 1.5rem;
  font-weight: $fw-bold;
  line-height: 125%;
  letter-spacing: -1px;
}

.text-preset-3 {
  font-size: 1.125rem;
  font-weight: $fw-bold;
  line-height: 125%;
  letter-spacing: -1px;
}

.text-preset-4 {
  font-size: 1rem;
  font-weight: $fw-regular;
  line-height: 150%;
  letter-spacing: 0px;
}

.text-preset-5 {
  font-size: 0.875rem;
  font-weight: $fw-regular;
  line-height: 150%;
  letter-spacing: 0px;
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1.2;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  font-size: 1rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: $slate-900;
  background-color: $slate-100;
}

/* utility */

.container {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 $spacer-300;
}

.flow-content > * + * {
  margin-top: var(--flow-space, 1.5rem);
}

.split {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.hidden {
  display: none !important;
}

/* general */

.calc {
  max-width: 70rem;
  margin-inline: auto;
  background: $white;
}
.calc__header {
  gap: $spacer-100;
}
.calc__calc {
  padding: $spacer-200;
}
.calc__clear {
  display: inline-block;
  width: fit-content;
  border: none;
  background: none;
  text-decoration: underline;
  color: $slate-700;
  padding: 0;
  cursor: pointer;
  &:hover,
  &:focus {
    color: $slate-900;
  }
}

.calc__form {
  margin-top: $spacer-200;
  & label {
    color: $slate-700;
  }
  & input {
    -webkit-appearance: none;
    -moz-appearance: textfield;
  }
}

.calc__form-group {
  width: 90vw;
  max-width: 24rem;
}

.input-wrapper {
  position: relative;

  display: flex;
  align-items: center;
  border: 1.5px solid $slate-700;
  border-radius: $br-sm;
  margin-top: $spacer-100;
}

.input-wrapper:focus-within {
  outline: 1.5px solid $clr-accent;
  border-color: $clr-accent;
  outline-offset: -2px;
}

.input-wrapper:has(.error) {
  border-color: $red !important;
  margin-bottom: $spacer-200;
}
.input-wrapper:has(.error) .prefix,
.input-wrapper:has(.error) .suffix {
  background-color: $red;
  color: $white;
}

.prefix,
.suffix {
  flex-shrink: 0;
  user-select: none;
  color: $slate-700;
  font-weight: $fw-bold;
  background-color: $slate-100;
  padding: $spacer-150 $spacer-200;
}

.input-wrapper:focus-within .suffix,
.input-wrapper:focus-within .prefix {
  background-color: $clr-accent;
  color: $slate-900;
}

.prefix {
  border-radius: $br-sm 0 0 $br-sm;
}
.suffix {
  border-radius: 0 $br-sm $br-sm 0;
}

.just-validate-error-label {
  position: absolute;
  top: 2.9rem;
  left: 0;
  color: $red !important;
  font-size: 0.875rem;
  margin-bottom: $spacer-200;
}

.input-field {
  flex-grow: 1;
  min-width: 0;
  width: 100%;
  border: none;
  padding: $spacer-100;
  outline: none;
  border-radius: $br-sm;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: $fw-bold;
  padding-left: $spacer-200;
}

.input-wrapper:has(.input-field:hover) {
  border-color: $slate-900;
}

.radio-group {
  position: relative;
  & .just-validate-error-label {
    top: 8.7rem;
  }
}

.radio-option {
  display: block;
  cursor: pointer;
  border: 1.5px solid $slate-700;
  border-radius: $br-sm;
  padding: $spacer-150 $spacer-200;
  margin-top: $spacer-100;
  accent-color: $slate-700;
  & span {
    color: $slate-900;
    font-weight: $fw-bold;
  }
  &:hover,
  &:focus-visible {
    border: 1.5px solid $clr-accent;
  }
}
input[type="radio"] {
  transform: scale(1.5);
  margin-right: $spacer-200;
}
.radio-option:has(input[type="radio"]:checked) {
  background-color: lighten($clr-accent, 30%);
  border-color: $clr-accent;
  accent-color: $clr-accent;
}
.calc__results {
  background: $slate-900;
  color: $white;
  padding: $spacer-300 0;
}

.calc__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacer-200;
  width: 100%;
  font-family: inherit;
  background: $clr-accent;
  border: none;
  border-radius: $br-lg;
  padding: $spacer-200 $spacer-300;
  cursor: pointer;
  margin: $spacer-300 0;
  &:hover,
  &:focus-visible {
    background-color: lighten($clr-accent, 30%);
  }
}

.calc__results-empty {
  display: grid;
  place-items: center;
  text-align: center;
  & p {
    color: $slate-300;
  }
}

.calc__results-result {
  color: $slate-300;
  & h2 {
    color: $white;
  }
  & .monthly-payments {
    color: $clr-accent;
    border-bottom: 1px solid $slate-700;
    padding-bottom: $spacer-100;
    margin-top: 0;
  }
  & .total-pay {
    color: $white;
  }
}
.calc__results-group {
  margin-top: $spacer-300;
  background-color: darken($slate-900, 5%);
  padding: $spacer-200;
  --flow-space: 1rem;
  border-radius: $br;
  border-top: 5px solid $clr-accent;
}

@media (min-width: 40rem) {
  .text-preset-1 {
    font-size: 3.5rem;
  }
  .calc {
    max-width: 43rem;
    margin-top: $spacer-400;
    margin-bottom: $spacer-400;
    border-radius: $br-lg;
  }
  .calc__results {
    border-radius: 0 0 $br-lg $br-lg;
    padding: $spacer-300;
  }
  .calc__form-group {
    width: 80vw;
    max-width: 38rem;
  }
  .split {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: $spacer-200;
    --flow-space: 0;
    margin-top: $spacer-300;
    & > * {
      flex-basis: 48%;
    }
  }

  .calc__submit {
    max-width: 50%;
  }
}

@media (min-width: 60rem) {
  main {
    display: grid;
    place-items: center;
    height: 100vh;
  }
  .calc {
    max-width: 63rem;
  }
  .calc__calc {
    padding: $spacer-300 $spacer-500 $spacer-200;
  }
  .calc__form {
    margin-top: $spacer-500;
  }
  .calc__form-group {
    width: unset;
    max-width: unset;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .split > * {
    flex-basis: unset;
  }
  .calc__submit {
    max-width: 70%;
    margin: $spacer-500 0;
  }
  .calc__results {
    border-radius: 0 $br-lg $br-lg 5rem;
    padding-top: $spacer-500;
  }

  .calc__results-empty {
    padding-top: $spacer-1000;
  }
  .calc__results-group {
    margin-top: $spacer-500;
    --flow-space: 2rem;
  }
  .calc__results-result .monthly-payments {
    padding-bottom: $spacer-300;
  }
}
